---
import Boton from "./componentes/Boton.astro";
import Info from "./componentes/Info.astro";
import InfoPrecioCosto from "./componentes/InfoPrecioCosto.astro";
import Item from "./componentes/Items.astro";

---
  
<main>

      
    <Info></Info>

    <div class="w-4/5 mx-auto flex flex-col lg:flex-row items-center gap-y-10 justify-center gap-x-32 mt-40 mb-40">
      <Boton button = {{name: "Contactenos"}}/>
      <Boton button = {{name: "¿Quienes somos?"}}/>
    </div>


    <div class="w-11/12 mx-auto lg:grid gap-10 lg:gap-5 grid-cols-3 mt-40 mb-40 flex flex-col items-center justify-center">
      
      <Item item = {{ img: "https://static.wixstatic.com/media/3c6a9e_eee598627b5749bdb93288c67fa49e6d~mv2.png/v1/fill/w_420,h_371,al_c,lg_1,q_85,enc_auto/atencion-personalizada-al-cliente-png-7_.png",
                      tit: "Asistencia personalizada",
                      desc:`Cada cliente es distinto, por ende nos adaptamos a cualquier escenario para cumplir con nuestro objetivo`
    }}/>

      <Item item = {{ img: "https://cdn-icons-png.flaticon.com/512/1019/1019607.png",
                      tit: "Pagos Flexibles",
                      desc:"Contamos con flexibilidad, tanto en medios como en formas de pago"
      }}/>

      <Item item = {{ img: "https://cdn-icons-png.flaticon.com/512/949/949890.png",
                      tit: "Mantenimiento gratis",
                      desc:"Ofrecemos un mes de mantenimiento web gratis para garantizar el funcionamiento y optimizacion ideal."
    }}/>
    </div>

    
    <InfoPrecioCosto/>


  </div>
</main>




<!-- Importa el CSS de Swiper.js -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<!-- Importa el JS de Swiper.js y inicializa el slider -->
<script is:inline src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script is:inline>
  new Swiper (".swiper-container", {
    direction: "horizontal",
    loop: true,

    pagination: {
        el: ".swiper-pagination",
        clickable: true,
    },
    autoplay: {
        delay: 3000,
    },
    // Cambia el efecto de transición a "cube" o "coverflow"
    effect: 'slide',
    //slidesPerView: 1, // Muestra solo una diapositiva a la vez
    centeredSlides: true, // Centra el slider activo
});
</script>
