---
import Boton from "./componentes/Boton.astro";
import Info from "./componentes/Info.astro";
import InfoPrecioCosto from "./componentes/InfoPrecioCosto.astro";
import Item from "./componentes/Items.astro";
import Slider from "./componentes/slider/Slider.astro";
import SliderScript from "./componentes/slider/SliderScript.astro";
---
  
<main>

      
    <Info></Info>

    <div class="w-4/5 mx-auto flex flex-col lg:flex-row items-center gap-y-10 justify-center gap-x-32 mt-40 mb-40">
      <Boton button = {{name: "Contactenos"}}/>
      <Boton button = {{name: "¿Quienes somos?"}}/>
    </div>


    <div class="w-11/12 mx-auto lg:grid gap-10 lg:gap-5 grid-cols-3 mt-40 mb-40 flex flex-col items-center justify-center">
      
      <Item item = {{ img: "https://static.wixstatic.com/media/3c6a9e_eee598627b5749bdb93288c67fa49e6d~mv2.png/v1/fill/w_420,h_371,al_c,lg_1,q_85,enc_auto/atencion-personalizada-al-cliente-png-7_.png",
                      tit: "Asistencia personalizada",
                      desc:`Cada cliente es distinto, por ende nos adaptamos a cualquier escenario para cumplir con nuestro objetivo`
    }}/>

      <Item item = {{ img: "https://cdn-icons-png.flaticon.com/512/1019/1019607.png",
                      tit: "Pagos Flexibles",
                      desc:"Contamos con flexibilidad, tanto en medios como en formas de pago"
      }}/>

      <Item item = {{ img: "https://cdn-icons-png.flaticon.com/512/949/949890.png",
                      tit: "Mantenimiento gratis",
                      desc:"Ofrecemos un mes de mantenimiento web gratis para garantizar el funcionamiento y optimizacion ideal."
    }}/>
    </div>

    
    <InfoPrecioCosto/>


    <div class="swiper-container lg:w-4/5 w-10/12 mx-auto overflow-hidden my-16">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide-1 slide-item img-1">
          <Slider slider={{ tit: "Confianza", 
                            desc:"Construyendo confianza con cada paso: su aliado digital de confianza para alcanzar el éxito en su emprendimiento.", 
                            image:"https://cdn-icons-png.flaticon.com/512/7178/7178931.png"}}/>
        </div>
    
        <div class="swiper-slide slide-2 slide-item img-2">
          <Slider slider={{ tit: "Calidad", 
                            desc:"Calidad sin compromisos: nuestra promesa es brindar soluciones digitales confiables que impulsan el éxito de su negocio.", 
                            image:"https://cdn-icons-png.flaticon.com/512/3937/3937040.png"}}/>
        </div>
        <div class="swiper-slide slide-3 slide-item img-3">
          <Slider slider={{ tit: "Compromiso", 
                            desc:"Comprometidos con su éxito, ofrecemos soluciones digitales de calidad y una comunicación constante para alcanzar juntos sus objetivos empresariales.", 
                            image:"https://cdn-icons-png.flaticon.com/512/10162/10162796.png"}}/>
        </div>
        <div class="swiper-slide slide-4 slide-item img-4">
          <Slider slider={{ tit: "Eficiencia", 
                            desc:"Nuestra eficiencia medible garantiza soluciones digitales precisas y rentables, respaldadas por datos concretos para el éxito empresarial duradero.", 
                            image:"https://cdn-icons-png.flaticon.com/512/5165/5165949.png"}}/>
        </div>
        <div class="swiper-slide slide-5 slide-item img-5">
          <Slider slider={{ tit: "Flexibilidad", 
                            desc:"Nuestra flexibilidad se adapta a sus necesidades cambiantes, ofreciendo soluciones digitales versátiles y personalizadas para su empresa.", 
                            image:"https://cdn-icons-png.flaticon.com/512/2646/2646069.png"}}/>
        </div>
      </div>
    </div>

  </div>
</main>

<SliderScript/>
