<div class="w-64 h-96 border rounded-lg relative ">
    <img src="https://cdn-icons-png.flaticon.com/512/7178/7178931.png" class="h-24 absolute top-0 left-1/2 -translate-x-1/2 transform -translate-y-1/2" alt="">
</div>


