<header class="mx-auto">
    <div class="w-4/5 flex items-center flex-col  mb-10 mx-auto">
        <div class="flex flex-row items-end">
            <img src="https://static.vecteezy.com/system/resources/previews/011/771/061/non_2x/a-glass-of-beer-free-png.png" class="h-20 pb-1"/>
            <p class="text-6xl font-bold text-yellow-500" >LISO</p> 
        </div>

        <p class="text-xl font-bold text-yellow-500" >SOLUCIONES WEB</p> 
    </div>

</header>