---
const {slider: {tit, desc, image}} = Astro.props
---



<div class="flex justify-center items-center">
    <div class="w-64 h-96 border bg-gradient-to-r from-gray-900 to-neutral-900 border-gray-700 rounded-xl relative my-10">
        <img src={image} class="h-20 absolute top-0 left-1/2 -translate-x-1/2 transform -translate-y-1/2" alt="">
        <div class="h-full grid grid-rows-3">
            <div class="border-b-slate-800  row-span-1 flex justify-center items-center border-b ">
                <h4 class="text-slate-200 font-bold italic text-center text-3xl">{tit}</h4>
            </div>
            <div class="row-span-2 items-center flex px-4">
                <p class="text-slate-200 text-lg font-semilight text-center ">{desc}</p>
    
            </div>    
        </div>
    </div>
</div>


