<header class="w-4/5 mx-auto border">
    <div class="flex items-center gap-5 py-5 pl-5">
        <img src="https://static.vecteezy.com/system/resources/previews/011/771/061/non_2x/a-glass-of-beer-free-png.png" class="h-10 ">
        <p class="text-3xl font-bold text-yellow-500 ">LISO SOLUCIONES WEB </p> 
    </div>
    
</header>