
<div style="overflow: hidden;">
    <svg
      preserveAspectRatio="none"
      viewBox="0 0 1200 120"
      xmlns="http://www.w3.org/2000/svg"
      style="fill: #ab8c05; width: 230%; height: 112px;"
    >
      <path d="M321.39 56.44c58-10.79 114.16-30.13 172-41.86 82.39-16.72 168.19-17.73 250.45-.39C823.78 31 906.67 72 985.66 92.83c70.05 18.48 146.53 26.09 214.34 3V0H0v27.35a600.21 600.21 0 00321.39 29.09z" />
    </svg>
  </div>

  <div class="lg:grid grid-cols-2 flex flex-col w-4/5 mx-auto gap-5">
    <div class="flex flex-col gap-8">
        <h2 class="text-5xl text-slate-300 text-center">Profesionales</h2>
        <p class="text-xl text-slate-300">Obtenga la visibilidad deseada en el mercado con la ayuda de expertos que comprenden sus necesidades y objetivos comerciales. Con nuestro equipo profesional a su lado, su empresa estará en el radar de clientes potenciales, aumentando su alcance y presencia en el mercado. Ya no tendrá que preocuparse por pasar desapercibido; le ayudaremos a destacar entre la competencia y a conectar con su audiencia de manera efectiva. Deje que nuestros servicios especializados impulsen su negocio hacia el éxito, mientras usted se enfoca en lo que mejor sabe hacer: brindar valor a sus clientes.</p>
    </div>
    <div class="flex justify-center my-auto">
        <img class="hover:scale-110 transition active:scale-125" src="https://static.vecteezy.com/system/resources/thumbnails/010/795/086/small_2x/web-development-3d-illustration-png.png" alt="">
    </div>
  </div>

  <div class="w-2/5 mx-auto flex justify-around my-10 gap-5">
    <button class="bg-gradient-to-r from-amber-500 to-yellow-700 border rounded-2xl border-slate-200 font-semibold hover:scale-105 active:text-slate-300 active:scale-110 transition lg:px-4 lg:py-3 px-3 py-2 lg:text-xl text-base">Contactenos</button>
    <button class="bg-gradient-to-r from-amber-500 to-yellow-700 border rounded-2xl border-slate-200 font-semibold hover:scale-105 active:text-slate-300 active:scale-110 transition lg:px-4 lg:py-3 px-3 py-2 lg:text-xl text-base">¿Quienes somos?</button>

  </div>