---
const {button: {name}} = Astro.props
---

<button class="active:from-yellow-700 active:scale-110 active:text-slate-300 active:to-yellow-900 bg-gradient-to-r border border-slate-200 font-semibold from-amber-500 hover:scale-105 lg:px-8 lg:py-4 lg:text-2xl px-3 py-2 rounded-2xl text-xl to-yellow-700 transition w-40 sx:w-1/2 lg:w-auto">
    {name}
</button>
