---
const {button: {name}} = Astro.props
---

<button class="bg-custom-yellow active:bg-yellow-800 active:text-zinc-200 font-semibold hover:scale-105 lg:px-10 lg:py-4 lg:text-3xl px-3 py-2 rounded-2xl text-xl transition w-40 sx:w-1/2 lg:w-auto">
    {name}
</button>
