<div class="grid grid-cols-1 lg:grid-cols-3 gap-5 w-4/5 mx-auto">
    <div class="lg:col-span-2 flex flex-col gap-8">
        <h2 class="text-5xl text-slate-300 text-start">Crezca <span class="text-amber-500"> rapido </span> con el poder de <span class="text-amber-500"> internet </span></h2>
        <p class="text-xl font-extralight text-slate-300">Obtenga la <span class="font-semibold">visibilidad deseada</span> en el mercado con la ayuda de expertos que comprenden sus necesidades y objetivos comerciales. Con nuestro equipo profesional a su lado, <span class="font-semibold">su empresa estará en el radar de clientes potenciales</span> , aumentando su alcance y presencia en el mercado. <br> <br> Ya no tendrá que preocuparse por pasar desapercibido; le ayudaremos a destacar entre la competencia y a conectar con su audiencia de manera efectiva. Deje que nuestros servicios especializados impulsen su negocio hacia el éxito, mientras usted se enfoca en lo que mejor sabe hacer: brindar valor a sus clientes.</p>
    </div>
    <div class="lg:col-span-1 flex justify-center my-auto">
        <img class="hover:scale-110 transition active:scale-125 lg:w-96" src="https://static.vecteezy.com/system/resources/thumbnails/010/795/086/small_2x/web-development-3d-illustration-png.png" alt="">
    </div>
</div>